body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #EEE;
}
.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.fullWidth {
  width: 100%;
}
.progressText {
  margin-top: 24px;
  width: 100%;
  text-align: center;
}
.progress {
  margin-top: 8px;
  margin-bottom: 24px;
}
.button {
  width: 100%;
}
.title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}
.mainButton {
  width: 100%;
  margin-top: 8px !important;
}
.frame {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 0;
}